#controlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters.noHeader)


#macro(renderSelect $customfieldid $parentMap $selectedParent $selectedValue)
    #foreach ($parentid in $parentMap.keySet())
        #if ($parentMap.get($parentid))
        <select name="${customfieldid}" #if ($selectedParent != $parentid)disabled="true" class="hidden"#end data-parent="$!parentid">
            #if (!$fieldLayoutItem.required)
                <option value="-1">$i18n.getText("common.words.pleaseselect")</option>
                <option value="-1" #if ($selectedValue == "-1")selected="true"#end>$i18n.getText("common.filters.any")</option>
            #end

            #foreach ($option in $parentMap.get($parentid))
                <option  value="$option.optionId" #if ($selectedValue == $option.optionId.toString())selected="true"#end>$option.value</option>
            #end
        </select>
        #end
    #end
#end

#set ($customList = $mlcscftype.getOptionMapFromOptions($configs.options))

#if ($customList.get(null))
<div class="mlcs-container">
    #renderSelect($customField.id $customList.get(null) "" "$!{value.getFirstValueForNullKey()}")

    #if(!$value.isEmpty() && $value.containsKey(null))
        #set($selectedParent = "$!{value.getFirstValueForNullKey()}")
    #else
        #set($selectedParent = "")
    #end
    #foreach($id in [1..10])
        #set($key = $id.toString())
        #if ($customList.get($key))
            #renderSelect("${customField.id}:$key" $customList.get($key) $selectedParent "$!{value.getFirstValueForKey($key)}")
        #end
        #if($value.containsKey($key))
            #set($selectedParent = "$!{value.getFirstValueForKey($key)}")
        #else
            #set($selectedParent = "")
        #end
    #end
</div>
#end

#controlFooter ($action $fieldLayoutItem.fieldDescription $displayParameters.noHeader)
