#if ($value && !$value.isEmpty())
    #set($prefix = " - ")
    $value.get(null)
    #foreach ($id in [1..$value.size()])
        #if ($value.get($id.toString()))
            ${prefix}$value.get($id.toString())
        #end
    #end
#end

